*{
	font-family: 'Open Sans', Arial;
	margin     : 0px;
	padding    : 0px;
	box-sizing : border-box;
}

.dg{display: grid}
.df{display: flex}
.db{display: block}
.alc{align-items: center}
.jcc{justify-content: center}
.l{float   : left}
.r{float   : right}
.p{position: relative}
.ab{position: absolute}
.pf{position: fixed}
.c{cursor  : pointer}
.u{
	-webkit-touch-callout: none;
	-webkit-user-select  : none;
	-khtml-user-select   : none;
	-moz-user-select     : none;
	-ms-user-select      : none;
	user-select          : none;
}
.t{text-align: center}
.l0{left: 0px}
.t0{top: 0px}
.b0{bottom: 0px}
.ml5{margin-left: 5px}
.ml10{margin-left: 10px}
.mlm10{margin-left: -10px}
.ml15{margin-left: 15px}
.ml20{margin-left: 20px}
.ml40{margin-left: 40px}
.mr10{margin-right: 10px}
.mt5{margin-top: 5px}
.mt10{margin-top: 10px}
.mt20{margin-top: 20px}
.mt25{margin-top: 25px}
.mb5{margin-bottom: 5px}
.mb10{margin-bottom: 10px}
.mb20{margin-bottom: 20px}
.mb25{margin-bottom: 25px}
.pa10{padding: 10px}
.pa{padding: 20px}
.pal10{padding-left: 10px}
.pal{padding-left: 20px}
.par{padding-right: 20px}
.par10{padding-right: 10px}
.pab{padding-bottom: 20px}
.pab10{padding-bottom: 10px}
.pat10{padding-top: 10px}
.pat{padding-top: 20px}
.br4{border-radius: 4px}
.br12{border-radius: 12px}
.br50{border-radius: 50px}
.br30p{border-radius: 30%}
.f10{font-size: 10px}
.f14{font-size: var(--fs14)}
.f18{font-size: 18px}
.f20{font-size: 20px}
.f24{font-size: 24px}
.fw{font-weight: bold}
.cs{color: #696A6C}/*silver*/
.cw{color: white}
.cb{color: black}
.bgw{background: white}
.bgws{background: #CCD0D5}
.bgnr{background-repeat: no-repeat}
.bgsc{background-size: cover}
.bgsz16{background-size: 16px 16px}
.bgsz80{background-size: 80px}
.lh16{line-height: 16px}
.lh18{line-height: 18px}
.lh30{line-height: 30px}
.lh34{line-height: 34px}
.lh35{line-height: 35px}
.lh36{line-height: 36px}
.lh40{line-height: 40px}
.h1{height: 1px}
.h16{height: 16px}
.h18{height: 18px}
.h20{height: 20px}
.h30{height: 30px}
.h32{height: 32px}
.h34{height: 34px}
.h35{height: 35px}
.h36{height: 36px}
.h40{height: 40px}
.h57{height: 57px}
.h80{height: 80px}
.w16{width: 16px}
.w18{width: 18px}
.w20{width: 20px}
.w32{width: 32px}
.w36{width: 36px}
.w40{width: 40px}
.wf{width: 48.57px}
.w493{width: 49.3px}
.w80{width: 80px}
.w100{width: 100%}
.h100{height: 100%}
.vw100{width: 100vw}
.vh100{height: 100vh}
.wi{width: inherit}
.z1{z-index: 1}
.z2{z-index: 2}
.sh{
	-webkit-box-shadow: 0px 0px 3px -1px rgb(0 0 0 / 50%);
	-moz-box-shadow   : 0px 0px 3px -1px rgba(0,0,0,.5);
	box-shadow        : 0px 0px 3px -1px rgb(0 0 0 / 50%);
}
.shg{
	-webkit-box-shadow: 0px 0px 3px -1px red;
	-moz-box-shadow   : 0px 0px 3px -1px red;
	box-shadow        : 0px 0px 3px -1px red;
}

/*START Preloader*/
	.lojs{
		background: #E4E5E7;
		z-index   : 3;
	}

	.loader{
		background-color: #E4E5E7;
		z-index         : 999;
	}

	.loader__item{
		width            : 15px;
		height           : 15px;
		margin           : auto;
		top              : 0;
		right            : 0;
		bottom           : 0;
		left             : 0;
		-webkit-animation: loader 2500ms linear infinite;
		animation        : loader 2500ms linear infinite;
	}

	@-webkit-keyframes loader{
		5.8823529412%{box-shadow: 0 -50px 0 transparent, 35.3553390593px -35.3553390593px 0 transparent, 50px 0 0 transparent, 34.4827586207px 35.3553390593px 0 transparent, 0 50px 0 transparent, -35.3553390593px 35.3553390593px 0 transparent, -50px 0 0 transparent, -35.3553390593px -35.3553390593px 0 transparent;}
		11.7647058824%{box-shadow: 0 -50px 0 transparent, 35.3553390593px -35.3553390593px 0 transparent, 50px 0 0 transparent, 34.4827586207px 35.3553390593px 0 transparent, 0 50px 0 transparent, -35.3553390593px 35.3553390593px 0 transparent, -50px 0 0 transparent, -35.3553390593px -35.3553390593px 0 transparent;}
		17.6470588235%{box-shadow: 0 -50px 0 transparent, 35.3553390593px -35.3553390593px 0 transparent, 50px 0 0 transparent, 34.4827586207px 35.3553390593px 0 transparent, 0 50px 0 transparent, -35.3553390593px 35.3553390593px 0 transparent, -50px 0 0 #4B4F56, -35.3553390593px -35.3553390593px 0 #4B4F56;}
		23.5294117647%{box-shadow: 0 -50px 0 transparent, 35.3553390593px -35.3553390593px 0 transparent, 50px 0 0 transparent, 34.4827586207px 35.3553390593px 0 transparent, 0 50px 0 transparent, -35.3553390593px 35.3553390593px 0 #4B4F56, -50px 0 0 #4B4F56, -35.3553390593px -35.3553390593px 0 #4B4F56;}
		29.4117647059%{box-shadow: 0 -50px 0 transparent, 35.3553390593px -35.3553390593px 0 transparent, 50px 0 0 transparent, 34.4827586207px 35.3553390593px 0 transparent, 0 50px 0 #4B4F56, -35.3553390593px 35.3553390593px 0 #4B4F56, -50px 0 0 #4B4F56, -35.3553390593px -35.3553390593px 0 #4B4F56;}
		35.2941176471%{box-shadow: 0 -50px 0 transparent, 35.3553390593px -35.3553390593px 0 transparent, 50px 0 0 transparent, 34.4827586207px 35.3553390593px 0 #4B4F56, 0 50px 0 #4B4F56, -35.3553390593px 35.3553390593px 0 #4B4F56, -50px 0 0 #4B4F56, -35.3553390593px -35.3553390593px 0 #4B4F56;}
		41.1764705882%{box-shadow: 0 -50px 0 transparent, 35.3553390593px -35.3553390593px 0 transparent, 50px 0 0 #4B4F56, 34.4827586207px 35.3553390593px 0 #4B4F56, 0 50px 0 #4B4F56, -35.3553390593px 35.3553390593px 0 #4B4F56, -50px 0 0 #4B4F56, -35.3553390593px -35.3553390593px 0 #4B4F56;}
		47.0588235294%{box-shadow: 0 -50px 0 transparent, 35.3553390593px -35.3553390593px 0 #4B4F56, 50px 0 0 #4B4F56, 34.4827586207px 35.3553390593px 0 #4B4F56, 0 50px 0 #4B4F56, -35.3553390593px 35.3553390593px 0 #4B4F56, -50px 0 0 #4B4F56, -35.3553390593px -35.3553390593px 0 #4B4F56;}
		52.9411764706%{box-shadow: 0 -50px 0 #4B4F56, 35.3553390593px -35.3553390593px 0 #4B4F56, 50px 0 0 #4B4F56, 34.4827586207px 35.3553390593px 0 #4B4F56, 0 50px 0 #4B4F56, -35.3553390593px 35.3553390593px 0 #4B4F56, -50px 0 0 #4B4F56, -35.3553390593px -35.3553390593px 0 #4B4F56;}
		58.8235294118%{box-shadow: 0 -50px 0 #4B4F56, 35.3553390593px -35.3553390593px 0 #4B4F56, 50px 0 0 #4B4F56, 34.4827586207px 35.3553390593px 0 #4B4F56, 0 50px 0 #4B4F56, -35.3553390593px 35.3553390593px 0 #4B4F56, -50px 0 0 #4B4F56, -35.3553390593px -35.3553390593px 0 #4B4F56;}
		64.7058823529%{box-shadow: 0 -50px 0 #4B4F56, 35.3553390593px -35.3553390593px 0 #4B4F56, 50px 0 0 #4B4F56, 34.4827586207px 35.3553390593px 0 #4B4F56, 0 50px 0 #4B4F56, -35.3553390593px 35.3553390593px 0 #4B4F56, -50px 0 0 transparent, -35.3553390593px -35.3553390593px 0 transparent;}
		70.5882352941%{box-shadow: 0 -50px 0 #4B4F56, 35.3553390593px -35.3553390593px 0 #4B4F56, 50px 0 0 #4B4F56, 34.4827586207px 35.3553390593px 0 #4B4F56, 0 50px 0 #4B4F56, -35.3553390593px 35.3553390593px 0 transparent, -50px 0 0 transparent, -35.3553390593px -35.3553390593px 0 transparent;}
		76.4705882353%{box-shadow: 0 -50px 0 #4B4F56, 35.3553390593px -35.3553390593px 0 #4B4F56, 50px 0 0 #4B4F56, 34.4827586207px 35.3553390593px 0 #4B4F56, 0 50px 0 transparent, -35.3553390593px 35.3553390593px 0 transparent, -50px 0 0 transparent, -35.3553390593px -35.3553390593px 0 transparent;}
		82.3529411765%{box-shadow: 0 -50px 0 #4B4F56, 35.3553390593px -35.3553390593px 0 #4B4F56, 50px 0 0 #4B4F56, 34.4827586207px 35.3553390593px 0 transparent, 0 50px 0 transparent, -35.3553390593px 35.3553390593px 0 transparent, -50px 0 0 transparent, -35.3553390593px -35.3553390593px 0 transparent;}
		88.2352941176%{box-shadow: 0 -50px 0 #4B4F56, 35.3553390593px -35.3553390593px 0 #4B4F56, 50px 0 0 transparent, 34.4827586207px 35.3553390593px 0 transparent, 0 50px 0 transparent, -35.3553390593px 35.3553390593px 0 transparent, -50px 0 0 transparent, -35.3553390593px -35.3553390593px 0 transparent;}
		94.1176470588%{box-shadow: 0 -50px 0 #4B4F56, 35.3553390593px -35.3553390593px 0 transparent, 50px 0 0 transparent, 34.4827586207px 35.3553390593px 0 transparent, 0 50px 0 transparent, -35.3553390593px 35.3553390593px 0 transparent, -50px 0 0 transparent, -35.3553390593px -35.3553390593px 0 transparent;}
		100%{box-shadow: 0 -50px 0 transparent, 35.3553390593px -35.3553390593px 0 transparent, 50px 0 0 transparent, 34.4827586207px 35.3553390593px 0 transparent, 0 50px 0 transparent, -35.3553390593px 35.3553390593px 0 transparent, -50px 0 0 transparent, -35.3553390593px -35.3553390593px 0 transparent;}
		0%{transform: rotate(0);}
		100%{transform: rotate(720deg);}
	}

	@keyframes loader{
		5.8823529412%{box-shadow: 0 -50px 0 transparent, 35.3553390593px -35.3553390593px 0 transparent, 50px 0 0 transparent, 34.4827586207px 35.3553390593px 0 transparent, 0 50px 0 transparent, -35.3553390593px 35.3553390593px 0 transparent, -50px 0 0 transparent, -35.3553390593px -35.3553390593px 0 transparent;}
		11.7647058824%{box-shadow: 0 -50px 0 transparent, 35.3553390593px -35.3553390593px 0 transparent, 50px 0 0 transparent, 34.4827586207px 35.3553390593px 0 transparent, 0 50px 0 transparent, -35.3553390593px 35.3553390593px 0 transparent, -50px 0 0 transparent, -35.3553390593px -35.3553390593px 0 transparent;}
		17.6470588235%{box-shadow: 0 -50px 0 transparent, 35.3553390593px -35.3553390593px 0 transparent, 50px 0 0 transparent, 34.4827586207px 35.3553390593px 0 transparent, 0 50px 0 transparent, -35.3553390593px 35.3553390593px 0 transparent, -50px 0 0 #4B4F56, -35.3553390593px -35.3553390593px 0 #4B4F56;}
		23.5294117647%{box-shadow: 0 -50px 0 transparent, 35.3553390593px -35.3553390593px 0 transparent, 50px 0 0 transparent, 34.4827586207px 35.3553390593px 0 transparent, 0 50px 0 transparent, -35.3553390593px 35.3553390593px 0 #4B4F56, -50px 0 0 #4B4F56, -35.3553390593px -35.3553390593px 0 #4B4F56;}
		29.4117647059%{box-shadow: 0 -50px 0 transparent, 35.3553390593px -35.3553390593px 0 transparent, 50px 0 0 transparent, 34.4827586207px 35.3553390593px 0 transparent, 0 50px 0 #4B4F56, -35.3553390593px 35.3553390593px 0 #4B4F56, -50px 0 0 #4B4F56, -35.3553390593px -35.3553390593px 0 #4B4F56;}
		35.2941176471%{box-shadow: 0 -50px 0 transparent, 35.3553390593px -35.3553390593px 0 transparent, 50px 0 0 transparent, 34.4827586207px 35.3553390593px 0 #4B4F56, 0 50px 0 #4B4F56, -35.3553390593px 35.3553390593px 0 #4B4F56, -50px 0 0 #4B4F56, -35.3553390593px -35.3553390593px 0 #4B4F56;}
		41.1764705882%{box-shadow: 0 -50px 0 transparent, 35.3553390593px -35.3553390593px 0 transparent, 50px 0 0 #4B4F56, 34.4827586207px 35.3553390593px 0 #4B4F56, 0 50px 0 #4B4F56, -35.3553390593px 35.3553390593px 0 #4B4F56, -50px 0 0 #4B4F56, -35.3553390593px -35.3553390593px 0 #4B4F56;}
		47.0588235294%{box-shadow: 0 -50px 0 transparent, 35.3553390593px -35.3553390593px 0 #4B4F56, 50px 0 0 #4B4F56, 34.4827586207px 35.3553390593px 0 #4B4F56, 0 50px 0 #4B4F56, -35.3553390593px 35.3553390593px 0 #4B4F56, -50px 0 0 #4B4F56, -35.3553390593px -35.3553390593px 0 #4B4F56;}
		52.9411764706%{box-shadow: 0 -50px 0 #4B4F56, 35.3553390593px -35.3553390593px 0 #4B4F56, 50px 0 0 #4B4F56, 34.4827586207px 35.3553390593px 0 #4B4F56, 0 50px 0 #4B4F56, -35.3553390593px 35.3553390593px 0 #4B4F56, -50px 0 0 #4B4F56, -35.3553390593px -35.3553390593px 0 #4B4F56;}
		58.8235294118%{box-shadow: 0 -50px 0 #4B4F56, 35.3553390593px -35.3553390593px 0 #4B4F56, 50px 0 0 #4B4F56, 34.4827586207px 35.3553390593px 0 #4B4F56, 0 50px 0 #4B4F56, -35.3553390593px 35.3553390593px 0 #4B4F56, -50px 0 0 #4B4F56, -35.3553390593px -35.3553390593px 0 #4B4F56;}
		64.7058823529%{box-shadow: 0 -50px 0 #4B4F56, 35.3553390593px -35.3553390593px 0 #4B4F56, 50px 0 0 #4B4F56, 34.4827586207px 35.3553390593px 0 #4B4F56, 0 50px 0 #4B4F56, -35.3553390593px 35.3553390593px 0 #4B4F56, -50px 0 0 transparent, -35.3553390593px -35.3553390593px 0 transparent;}
		70.5882352941%{box-shadow: 0 -50px 0 #4B4F56, 35.3553390593px -35.3553390593px 0 #4B4F56, 50px 0 0 #4B4F56, 34.4827586207px 35.3553390593px 0 #4B4F56, 0 50px 0 #4B4F56, -35.3553390593px 35.3553390593px 0 transparent, -50px 0 0 transparent, -35.3553390593px -35.3553390593px 0 transparent;}
		76.4705882353%{box-shadow: 0 -50px 0 #4B4F56, 35.3553390593px -35.3553390593px 0 #4B4F56, 50px 0 0 #4B4F56, 34.4827586207px 35.3553390593px 0 #4B4F56, 0 50px 0 transparent, -35.3553390593px 35.3553390593px 0 transparent, -50px 0 0 transparent, -35.3553390593px -35.3553390593px 0 transparent;}
		82.3529411765%{box-shadow: 0 -50px 0 #4B4F56, 35.3553390593px -35.3553390593px 0 #4B4F56, 50px 0 0 #4B4F56, 34.4827586207px 35.3553390593px 0 transparent, 0 50px 0 transparent, -35.3553390593px 35.3553390593px 0 transparent, -50px 0 0 transparent, -35.3553390593px -35.3553390593px 0 transparent;}
		88.2352941176%{box-shadow: 0 -50px 0 #4B4F56, 35.3553390593px -35.3553390593px 0 #4B4F56, 50px 0 0 transparent, 34.4827586207px 35.3553390593px 0 transparent, 0 50px 0 transparent, -35.3553390593px 35.3553390593px 0 transparent, -50px 0 0 transparent, -35.3553390593px -35.3553390593px 0 transparent;}
		94.1176470588%{box-shadow: 0 -50px 0 #4B4F56, 35.3553390593px -35.3553390593px 0 transparent, 50px 0 0 transparent, 34.4827586207px 35.3553390593px 0 transparent, 0 50px 0 transparent, -35.3553390593px 35.3553390593px 0 transparent, -50px 0 0 transparent, -35.3553390593px -35.3553390593px 0 transparent;}
		100%{box-shadow: 0 -50px 0 transparent, 35.3553390593px -35.3553390593px 0 transparent, 50px 0 0 transparent, 34.4827586207px 35.3553390593px 0 transparent, 0 50px 0 transparent, -35.3553390593px 35.3553390593px 0 transparent, -50px 0 0 transparent, -35.3553390593px -35.3553390593px 0 transparent;}
		0%{transform: rotate(0);}
		100%{transform: rotate(720deg);}
	}
/*END Preloader*/

:root{
	--color-site-nav              : #4B4F56;/*new*/
	--color-site-nav-light        : rgba(246, 107, 20,.70);/*Orange transparent light*/
	--color-site-nav-border-bottom: #4B4F56;/*Silver dark*/
	--fs14						  : 14px;
	--color-buttons		  		  : #099E57;/*green*/
	--color-buttons-hover	  	  : #C45611;/*Orange dark*/
	--color-buttons-hover-light	  : #F77A35;/*Orange light*/
	--link-buttons				  : #606770;/*Silver dark*/
	--editor-border				  : #757575;
	--editor-border-hover		  : 0.5px solid #4B4F56;
}

a:-webkit-any-link{
	color          : white;
	cursor         : pointer;
	text-decoration: none;
}

a:-webkit-any-link:hover{
	text-decoration: underline;
}

.c099E57{
	color: #099E57 !important;
}

body{
	background     : white;
	display        : grid;
	justify-content: center;
}

.mbrs{
	border-right: 0.5px solid var(--color-site-nav);
	border-left : 0.5px solid var(--color-site-nav);
}

.bgbrs{
	background-color: var(--color-site-nav);
}

.none{
	display: none;
}

.hmd{
	border-bottom: 1px solid var(--color-site-nav);
	background   : var(--color-site-nav);
}

.a{
	width: 1277.499938964px;
}

.hshdw{
	width             : 1269.499938964px;
	margin-left       : 4px;
	height            : 10px;
	bottom            : 0px;
	z-index           : -1;
	-webkit-box-shadow: 0px 0px 3px -1px rgb(0 0 0);
	-moz-box-shadow   : 0px 0px 3px -1px rgba(0,0,0,1);
	box-shadow        : 0px 0px 3px -1px rgb(0 0 0);
}

.thm{
	width : 77px;
	height: 57px;
}

.thmn0{
	width : 12px;
	height: 27.5px;
}

.thmn1{
	width           : 12px;
	height          : 20px;
	left            : -1px;
	background-image: url(../../../../../../src/du/icon/light-bulb.svg);
}

.thmn2{
	color      : white;
	font-family: Helvetica;
}

.hu{
	font-size: 18px;
}

.tljs{
	float       : right;
	margin-right: 40px;
	top         : 21px;
	position    : relative;
	color       : white;
}

.tljs::before{
	position        : absolute;
	width           : 2px;
	height          : 8px;
	background      : white;
	content         : "";
	display         : block;
	right           : -12px;
	top             : 4px;
	border-radius   : 2px;
	transform-origin: bottom center;
	transform       : rotate(-45deg);
}

.tljs::after{
	position        : absolute;
	width           : 2px;
	height          : 8px;
	background      : white;
	content         : "";
	display         : block;
	right           : -11px;
	top             : 4px;
	border-radius   : 2px;
	transform-origin: bottom center;
	transform       : rotate(45deg);
}

.fsfstc{
	position    : relative;
	float       : left;
	margin-right: 5px;
}

.awfsfstc{
	position : relative;
	float    : left;
	max-width: 1349px;
}































